:root {
  /*--bg: #4c4c4c;*/
  --bg: #1d2433;
  --bg-widget: #2f3b54;
  --bg1: #6679a4;
  --bg2: #8695b7;
  --fg-active: #d7dce2;
  --fg: #a2aabc;
  --orange: #ffae57;
  --yellow: #ffd580;
  --purple: #c3a6ff;
  --green: #bae67e;
  --cyan: #5ccfe6;
  --grey: #a2aabc;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(inconsolata.ttf) format('truetype');
}

body {
  font-family: 'Inconsolata', sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  width: 100%;
  max-width: 700px;
  margin: auto;
  height: 100%;
  justify-items: center;
  align-items: center;
}

h1 {
  color: var(--green);
}

a {
  color: var(--green);
  text-decoration: none;
}

button {
  background-color: var(--bg-widget);
  color: var(--orange);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input {
  background-color: var(--bg-widget);
  color: var(--fg-active);
  border: none;
  border: 1 solid var(--bg1);
}

canvas {
  max-width: 300px;
  margin: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#chords {
  height: 15px;
}
